<html>
<head><title>Register Page</title></head>
<body>
<!--<h1>Hello !</h1> 
<p>Welcome to <span th:text="${appName}">Our App</span></p> -->
<br>
<br>
<br>
<center><P><h1>Register your Details</h1></P>
<label>Username : </label> <textarea></textarea><br>
<label>Password : </label> <textarea></textarea><br>
<label>PhoneNo: </label> <textarea></textarea><br>
<label>EmailID : </label> <textarea></textarea><br>
<label>UserRole : </label> <textarea></textarea><br>
<br>
<button>Submit</button>
</center>
</body>
</html>